<!DOCTYPE html>
<html>
<head>
  <style media="screen">
  .middle
  {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 500px;
  }
  .criteria span{
    color: red
  }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("input").keyup(function(){
      $.get("/password", {password: $("#pwd").val()}, function(data, status){
        $(".center span").text(data);
        $('.criteria').children('div').each(function (index, value){
        if (data == $(this).attr('class')) {
          $(this).find("span").css('color', 'green')
        } else {
          $(this).find("span").css('color', 'red')
        }
      });
        if (!$('input').val()){$(".center span").text('')};
      });
    });
});
</script>
</head>
<body>

  <div class="middle">
    <h3>Password Strength Test!</h3>

    <div class="center">
      Enter your test password: <input id='pwd' type="text">
    <br>
    <br>
      <p>Password Strength: <span></span></p>
    </div>
      <p>Your password must be at least 10 characters.
      <br>
      <br>
      An <b>OK</b> password meets three out of four optional criteria, and a <b>Strong</b>  password meets four out of four optional criteria.
      <br>
      <br>
      A password that fails to meet the minimum criteria or less than three optional criteria will be considered <b>Weak</b>
      </p>
      <div class="criteria">

      <h4>Optional Criteria</h4>
      <div class="number">
        <span>Has Number</span>
      </div>
      <div class="lower">
        <span>Has One Uppercase Character</span>
      </div>
      <div class="upper">
        <span>Has One Lowercase Character</span>
      </div>
      <div class="special">
        <span>Has One Special Character</span>
      </div>
      <h4>Minimum criteria</h4>
      <div class="length">
        <span>Has Ten Characters</span>
      </div>
    </div>

  </div>


</body>
</html>
